body{
    height: 1000px;
    font-size: 18px;
    font-family: sans-serif;
  
    
  }
  
  h2{
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 3px;
  }
  
  .section{
    display: block;
    align-content: center;
    margin: 20px 45px 45px 45px;
  }
  
  .grid{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      }
      
      .div1 { grid-area: 1 / 1 / 2 / 2; }
      .div2 { grid-area: 1 / 2 / 2 / 3; }
      .div3 { grid-area: 1 / 3 / 2 / 4; }
      .div4 { grid-area: 1 / 4 / 2 / 5; }
      .div5 { grid-area: 1 / 5 / 2 / 6; }
      .div6 { grid-area: 2 / 5 / 3 / 6; }
      .div7 { grid-area: 2 / 4 / 3 / 5; }
      .div8 { grid-area: 2 / 3 / 3 / 4; }
      .div9 { grid-area: 2 / 2 / 3 / 3; }
      .div10 { grid-area: 2 / 1 / 3 / 2; }
  
      .section>p{
    margin-left: 20px;
    font-size: 16px;
    margin-bottom: 40px;
  }
  li{
   
    list-style: none;
    margin-bottom: 20em;
  }
  .image>p{
    width: 240px;
    font-size: 17px;
  }
  
  .image>img{
    height: 250px;
    width: 250px;
  }
  
  .image {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 15em;
    position: relative;
    text-align: center;
    color: #333333;
    
    height: 240px;
    width: 240px;
    
  }
  .Button {
    background-color: transparent;
    border: none;
    margin-left: 10em;
    margin-bottom: 50em;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    font-size: 20px;
    color: #944317;
   
  
  }
  .titre{
    text-align: center;
    font-weight:549.90;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    font-size: 6em;
    color: #703b09;
    width: 6em;
    display: block;
    font-family: fantasy;
  }
  
  .ingredients{
    opacity: 0;
    position: absolute;
    top: 120px;
    left: 120px;
    width: 180px;
    height: 100px;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
  .price {
    font-weight: bold;
    font-size: 1.25em;
    font-family: fantasy;
    margin-bottom: 3em;
    display: block;
    color: #f52500;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  .btn{
    color: #fff;
      padding: 5px 12px;
      margin-bottom: 5em;
      background: #ef4043;
      text-transform: uppercase;
      display: inline-block;
      font-size: 14px;
      width: auto;
      border: 1px solid transparent;
      box-shadow: 0 0 10px rgba(141, 141, 142, .5);
  }
  