
.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    }
    
    
.hamburger{

    background-image: url("../../../../assets/images-burger/burger-ban@2x.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; 
    
    text-align: center;
    margin-left: 25.2em;
    margin-top: 8em;
    width: 60em;
    height: 13em;
    padding-top: 5em;
    background-size: cover;

}    
.hamburger:hover{
    opacity: 0.5;
    
}
.hamburgerTitles{
    font-size: 4em;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    color:  black;

}

.pasta{

    background-image: url("../../../../assets/images-burger/pasta-ban.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; 
    text-align: center;
    margin-left: 25.2em;
    margin-top: 8em;
    width: 60em;
    height: 13em;
    padding-top: 5em;
    background-size: cover;

}    
.pasta:hover{
    opacity: 0.5;
    
}
.pastaTitles{
    font-size: 5em;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    color:  black

}

.sandwich{

    background-image: url("../../../../assets/images-burger/depositphotos_157680704-stock-photo-healthy-ham-sandwich-with-cheese.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; 
    text-align: center;
    margin-left: 25.2em;
    margin-top: 8em;
    width: 60em;
    height: 13em;
    padding-top: 5em;
    background-size: cover;
    

}    
.sandwich:hover{
    opacity: 0.5;
    
}
.sandwichTitles{
    font-size: 4em;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    color:black;

    
}

.dessert{

    background-image: url("../../../../assets/images-burger/desert-ban@2x.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; 
    text-align: center;
    margin-left: 25.2em;
    margin-top: 8em;
    width: 60em;
    height: 13em;
    padding-top: 5em;
    background-size: cover;

}    
.dessert:hover{
    opacity: 0.5;
    
}
.dessertTitles{
    font-size: 4.5em;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    color:  black;


}
.kids{

    background-image: url("../../../../assets/images-burger/images.jpeg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; 
    text-align: center;
    margin-left: 25.2em;
    margin-top: 8em;
    margin-bottom: 8em;
    width: 60em;
    height: 13em;
    padding-top: 5em;
    background-size: cover;

}    
.kids:hover{
    opacity: 0.5;
    
}
.kidsTitles{
    font-size: 4em;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    color:  black;
}