.employes{
    width: 80%;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  font-size: 20px;
  color: #944317;
  text-align: left;
  margin-right: 52em;
}



