


/* Table Styles */

.tableWrapper{
    margin: 10em 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.flTable {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 150%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.flTable td, .flTable th {
    text-align: center;
    padding: 8px;
}

.flTable td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.flTable thead th {
    color: #ffffff;
    background: #AA6817;
}


.flTable thead th:nth-child(odd) {
    color: #ffffff;
    background: #703B09;
}

.flTable tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .flTable {
        display: block;
        width: 100%;
    }
    .tableWrapper:before{
        
        display: block;
        text-align: right;
        font-size: 11px;
        color: rgb(240, 34, 34);
        padding: 0 0 10px;
    }
    .flTable thead, .flTable tbody, .flTable thead th {
        display: block;
    }
    .flTable thead th:last-child{
        border-bottom: none;
    }
    .flTable thead {
        float: left;
    }
    .flTable tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .flTable td, .flTable th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .flTable thead th {
        text-align: left;
        border-bottom: 1px solid #e3e3e7;
    }
    .flTable tbody tr {
        display: table-cell;
    }
    .flTable tbody tr:nth-child(odd) {
        background: none;
    }
    .flTable tr:nth-child(even) {
        background: transparent;
    }
    .flTable tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #eee9e9;
    }
    .flTable tr td:nth-child(even) {
        border-right: 1px solid #f0e7e7;
    }
    .flTable tbody td {
        display: block;
        text-align: center;
    }
}