.BuildControls {
  width: 100%;
  /* background-color: #CF8F2E; */
  display: flex;
  flex-flow: column;
  align-items: center;
  /* box-shadow: 0 2px 1px #ccc; */
  /* margin-top: 30em; */
  padding: 10px 0;
}


.OrderButton {
  background-color: #703b09;
  outline: none;
  cursor: pointer;
  border: 1px solid #966909;
  color: white;
  font-family: fantasy;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  padding: 15px 30px;
  margin-left: 0.01em;
  margin-top: 0.09em;
}

.OrderButton:hover, .OrderButton:active {
  background-color: #e98440;
  border: 1px solid #966909;
  color: white;
}

.OrderButton:disabled {
  background-color: #C7C6C6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}