.tableWraper{
    margin-top: 10px;
    transform: rotateX(20deg);
    min-height: 142px;
    transform-origin: bottom;
    z-index: 9999;
    position: relative;
    margin: 10px auto 0 auto;
    width: 250px;
}
.tableSurface{
    box-shadow: 0px 40px 10px rgba(0,0,0,.2);
    background: #bebcb8;
  
    position: absolute;
    height: 100%;
    bottom: 0;
    width: 100%;
}
.nametags {
    z-index: 1;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.table {
    transform-style: preserve-3d;
    outline: solid 1px transparent;
    margin: 0px auto 0px auto;
    min-height: 142px;
    padding: 15px 15px 22px 15px;
    display: inline-block;
    z-index: 999;
    position: relative;
    white-space: nowrap;
}

.plate {
    
    background: #fdfdfb;
    background: linear-gradient(#fffffc, #eae7d8);

    width: 200px;
    height: 200px;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 30px;
    position: relative;
    padding: 80px;
    box-shadow: inset 0 3px 1px white, inset 0 -5px 3px rgba(0, 0, 0, 0.15), 0 0 10px rgba(50, 0, 50, 0.3), 0 5px 10px rgba(50, 20, 0, 0.4);
}
.grid{
    
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
     
}

.after{
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 25px;

    left: 7em;
    top: 7em;
    margin: -80px 0 0 -80px;
    box-shadow: inset 0 10px 10px rgba(150, 150, 150, 0.1), 0 -2px 2px rgba(150, 150, 150, 0.1), inset 0 -15px 10px rgba(150, 150, 150, 0.1);
 
}
/* orange, apple, pickle, bento, plate {
    transition: transform ease-out .2s;
} */