
  body{
    background-image:
    url("../../../../assets/images-burger/ban4.jpg");
  
  }

  h2{
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 3px;
  }
  

  .Navlink:link{
  
    text-decoration:none; 
  }
  .grid{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      }
  
  
    .section>p{
    margin-left: 20px;
    font-size: 16px;
    margin-bottom: 40px;
  }
  li{
   
    list-style: none;
    margin-bottom: 20em;
  }
  .text{
    
    font-size: 18.5px;
    font-family: fantasy;
  }
  
  
  .image>img{
    height: 250px;
    width: 250px;
  }
  
  .image {
    margin-top: 10em;
    margin-left: 5em;
    margin-right: 30px;
    margin-bottom: 15em;
    position: relative;
    text-align: center;
    color: #333333;
 
    height: 240px;
    width: 240px;
   }
  .a{
    text-decoration-line: none;
    text-decoration: none;
   }
  a:hover {
    opacity: 0.5;
    text-decoration-line: none;
  }
  
  
  .ingredients{
    opacity: 0;
    position: absolute;
    top: 120px;
    left: 120px;
    width: 180px;
    height: 100px;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
  .price {
    font-weight: bold;
    font-size: 2em;
    font-family: fantasy;
    margin-bottom: 3em;
    display: block;
    color:  #703b09;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .titles{
    color:  #703b09;
    font-weight: bold;
    font-size: 1.5em;
  }
  .btn{
    color: #fff;
      padding: 5px 12px;
      margin-bottom: 5em;
      background:  #703b09;
      text-transform: uppercase;
      display: inline-block;
      font-size: 1.5em;
      width: auto;
      border: 1px solid transparent;
      box-shadow: 0 0 10px rgba(141, 141, 142, .5);
  }
  