.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  
  align-items: center;
  height: 100%;
  font-weight: bold;
}
.NavigationItems2 {
  margin: 0;
  padding-right: 30em;
  list-style: none;
  display: flex;
  font-weight: bold;
  align-items: center;
  height: 100%;


}
/* mega menus */
.dropdown {
  float: left;
  overflow: hidden;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin-right: 17em;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #8F5C2C;
  opacity: 0.5;
}
.column {
  float: center;
  margin-left: 10.7em;
  width: 150px;
  padding: 10px;
  background-color:#703b09;
  height: 70px;
  
}

.column a {
  float: none;
  text-decoration: none;
  display: block;
  text-align: center;
}

.column a:hover {
  background-color: #8F5C2C;
  opacity: 0.5;
}
.dropdownContent {
  display: none;
  position: absolute;
  width: 10px;
  left: 0;
}



.dropdown:hover .dropdownContent {
  display: block;
}
.NavigationItems3 {
  margin: 0;
  padding-right: 4em;
  list-style: none;
  display: flex;
  font-weight: bold;
  align-items: center;
  height: 100%;
  

}



@media (min-width: 700px) {
  .NavigationItems {
    flex-flow: row;
  }
  .NavigationItems2 {
    flex-flow: row;
  }
  .NavigationItems3 {
    flex-flow: row;
  }
  .dropdown{
    flex-flow: row;
  }
}