.MenusData {
    text-align: center;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 2px 3px rgb(15, 15, 15);
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
        text-rendering: auto;
    font-family: 'FrutigerLTArabic';
  }
  .titles{
    font-weight: bold;
    color: #703b09;

  }
  .buttom{

    border: none;
    color: #fff;
    padding: 5px 12px;
    background: #088828;
    text-transform: uppercase;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font: inherit;
    width: auto;
    border: 1px solid transparent;
    font-size: 18px;
    font-family: 'FrutigerLTArabic';

  }
  .inputfile
  {

    color: rgb(5, 109, 45);
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 20px;
    
  }
  .Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 1em;
    margin-bottom: 1em;
  
  }
  
  .Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
  
  }
  
  .InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
  
  }
  
  .InputElement:focus {
    outline: none;
    background-color: #ccc;
  }
  
  .Invalid {
    border: 1px solid red;
    background-color: pink;
  }
  
  @media (min-width: 600px) {
    .MenusData{
      width: 500px;
    }
  }